form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
 
fieldset {
  border: none;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select {
 display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
 
input[type="submit"],
input[type="reset"] {
  background-color: #0095ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
 
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0073b1;
}
 
label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
 
nav {
  position: fixed;
}